table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  // outline: 0.1px solid;
}

table {
  border-radius: 1em;
  outline: 1px solid;
  outline-offset: -1px;
  overflow: hidden;
}

th,
td {
  padding: 0.5em 1.5em;
}
